
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  overflow-x: hidden;
}

header {
  padding: 30px;
  margin: -15px;
  font: 500 20px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  color: #fff;
  background: #6f5499;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

[class*="col-"] {
  margin-bottom: 1rem;
  background: #fefefe;
  border: 1px solid rgba(0,0,0,.15);
}

[class*="block"] {
  margin-bottom: 0;
  background: transparent;
  border: 0;
  text-align: center;
}

.demo-blocks > div {
    padding: 1em !important;
}

h3, .h3 {
  color: #222;
}
h4, .h4 {
  color: #444;
  margin-bottom: .25em;
}
p,
.description {
    font-weight: 300;
    margin-bottom: 1em;
}

.row div {
  padding: 1rem;
  text-align: center;
  color: #666;
}

img {
      max-width: 100%;
      height: auto;
      -ms-interpolation-mode: bicubic;
      display: inline-block;
      vertical-align: middle;
}

