// Bootstrap screen size variables
$screen-xs: 30em;
$screen-sm: 48em;
$screen-md: 62em;
$screen-lg: 75em;
$columns: 12 !default;
$column-gutter: 1rem !default;
$block-columns: 6 !default;


$breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
) !default;

$breakpoint-classes: (sm md lg) !default;

@import 'mixins';
@import 'functions';


// Set the main container for the page
.container-fluid {
  margin: 0rem auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  @extend .container-fluid;
  
  @media (min-width: $screen-md) {
    width: $screen-md;
  }
  @media (min-width: $screen-lg) {
    width: $screen-lg;
  }
}


// Grid content
@mixin grid-content() {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1;
}


// Enable our flexbox magic
/* block-content */
.row {
  display: flex;
  position: relative;
  flex: 1 1;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
    
  height: auto;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  backface-visibility: hidden;
  margin-left: -1rem;
  margin-right: -1rem; 
}

// Generate the actual columns
// TODO: Currently using seperate loops so that we can preserve the cascade, will eventually put into a mixin

/**********************************************
//
// Generate Horizontal Columns
//
**********************************************/

[class*="col-"]:not([class*="block"]) {
  padding: 0 1rem;
}


@for $i from $columns through 1 {
    .col-xs-#{$i} {
      flex: 0 0 ($i/$columns*100%); 
    }
  }
.col-xs-flex {
  flex: 1 1;
}

@each $size in $breakpoint-classes {
    @include breakpoint($size) {  
        @for $i from $columns through 1 {
            .col-#{$size}-#{$i} {
              flex: 0 0 ($i/$columns*100%); 
            }
          }
        .col-#{$size}-flex {
          flex: 1 1;
        }
    }
}
    
/**********************************************
//
// Vertical Columns
//
**********************************************/

.vertical {
    flex-flow: column nowrap;
    align-items: stretch;
}

.xs-vertical {
    flex-flow: column nowrap;
    align-items: stretch;
}

@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        .#{$size}-vertical {
            flex-flow: column nowrap;
            align-items: stretch;
        }
    }
}

/**********************************************
//
// Alignment Classes
//
**********************************************/
.align-left {
  justify-content: flex-start;
  align-self: flex-start;
}

.align-right {
  justify-content: flex-end;
  align-self: flex-end;
}

.align-center {
  justify-content: center;
}

.align-justify {
  justify-content: space-between;   
}

.align-spaced {
  justify-content: space-around;   
}

.align-bottom {
  align-self: flex-end;
}

.align-top {
  align-self: flex-start;
}


/**********************************************
//
// Order Classes
//
**********************************************/
@for $i from 1 through $columns {  
            .xs-order-#{$i} {
                order: $i; 
            }
        }

@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        @for $i from 1 through $columns {  
            .#{$size}-order-#{$i} {
                order: $i; 
            }
        }
    }
}


/**********************************************
//
// Block Columns
//
**********************************************/

 @for $i from 1 through $block-columns {  
            .col-xs-block-#{$i} {
              display: flex;
              flex: 1 1;
              flex-flow: row wrap;
              overflow: visible;
              list-style-type: none;

              > li,
              > div,
              > section {
                padding: $column-gutter/2;
                flex: 0 0 percentage(1 / $i);
              }
            }
        }

.col-xs-block-6:first-child {
    padding-left:0;
}

@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        @for $i from $block-columns through 1 {
            .col-#{$size}-block-#{$i} {
              flex-flow: row wrap;
              overflow: visible;
              list-style-type: none;

              > li,
              > div,
              > section {
                padding: 0 1rem 1rem;
                flex: 0 0 percentage(1 / $i);
              }
            }
        }
    }
}



/**********************************************
//
// Rando Utilities
//
**********************************************/

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (max-width: $screen-sm) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
}
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .hidden-md {
    display: none !important;
  }
  .visible-md {
    display: block !important;
  }
    
}
@media (min-width: $screen-lg) {
  .hidden-lg {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }
}

.shrink {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; 
}
